.header {
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.authorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 10px 20px;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0px 6px 6px 0px rgba($color: rgb(0, 0, 0), $alpha: 0.3);
  width: 100%;
  height: 5rem;
  padding: 14px 0;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(32, 33, 32);
}
.search {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
}
.title {
  color: white;
  font-weight: 500;
  font-size: 36px;
  text-align: left;
  margin-bottom: 10px;
}
.suggested {
  margin-top: 10px;
  color: white;
  font-weight: 500;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.categories {
  color: gainsboro;
  :hover {
    color: white;
  }

  margin-right: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.bar {
  padding: 1rem 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logoImg {
  width: 100%;
  object-fit: contain;
}
.logoImgWrapper {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.logoText {
  color: aliceblue;
  font-weight: 500;
  margin-left: 10px;
  font-size: 24px;
}
