.wrapper {
  width: 100%;
  position: relative;
}

.img {
  object-fit: contain;
  width: 100%;
}

.author {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.tools {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
}

.toolButton {
  margin-bottom: 1rem;
  padding: 10px;
  //background-color: white;
}
